.App {
  text-align: center;
  
}
.btn{
  background-color: green;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 30%;
}
.container{
  background-color: lightblue;
  height: 100px;
  
}